.detail{
   border-radius: 10px;
   font-size: 100%;
   background-color: white;
   width: 100%;
   display:grid;
   grid-template-columns: repeat(1, 1fr);
   grid-auto-rows: minmax(10px, auto);
   margin: 5px;
   justify-items: center;
   /* align-items: center; */
   height: fit-content;
   padding: 10px;
}

.contenedordetail{
  background-color: white;
  opacity: 0.85;
  border-radius: 10px;
  padding: 10px;
  height: 90vh;
  width: 70vw;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado{
     grid-column: 1;
    grid-row: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 16px;
    height: fit-content;
}


.nombre1{
     grid-column: 1;
    grid-row: 2;
    /* font-size: 18px; */
    height: fit-content;
}
/* .titulo{
  font-size:large;
} */
.info{
     grid-column: 1;
    grid-row: 5;
    display: flex;
    flex-direction: row;
    justify-content: center;
}
.personal{
     grid-column: 1;
    grid-row: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    border-width: 1px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-content: flex-start;
    margin-left: 30px;
}
.casos{
    grid-column: 2;
    grid-row: 1;
    border-style: solid;
    border-color: black;
    border-radius: 10px;
    padding: 5px;
    border-width: 1px;
    width: 450px;
    /* margin-left: 80px; */
}
.nombredetail{
  text-align: center;
  font-size:larger;
  /* height: fit-content; */
       grid-column: 1;
    grid-row: 4;
    /* font-size: 18px; */
    height: fit-content;
}
.menu-detail{
  grid-column: 1;
    grid-row: 2;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}
.generardocumento{
    grid-column: 1;
    grid-row: 3;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: center;
}

.labelregistrodecliente{
  text-align: left;
  width: 200px;
}

.labeldetail{
    font-size: medium;
    font-weight: bold;
    min-width: 100px;
    margin: 5px;
    align-content: center;
    height: 30px;
    text-align: left;
}

.cajadetail{
  width:250px;
  border-radius: 5px;
  border: 1px;
}


.detail .photo{
   width: 60%;
   height: 60 px;
   border-radius: 70%; 
}

.infodetail{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin:10px;
}