.navbar{
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100vh;
        width: 300px;
        align-items: center;
        /* background-color: red; */
      }

.logo-aveza img {
  align-self: flex-start;
  /* box-shadow: 5px 5px 5px rgb(81, 115, 238, 0.8); */
  /* background-color: aqua; */
  /* border: 5px black solid; */
}