.contenedorcasos{
  background-color: white;
  opacity: 0.85;
  border-radius: 10px;
  padding-top: 10px;
  height: 90vh;
  width: 70vw;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.encabezado{
  width: 300px;
}

.crearcaso{
  display: flex;
  flex-direction: row;
}

.casosconpagina{
  display: flex;
  flex-direction: column;
}

   .divcasos{
    display: grid;
    /* flex-direction: row;
    flex-wrap: wrap; */
    justify-content: flex-start;
        grid-template-columns: repeat(3, 1fr);
    /* grid-gap: 15px; */
    grid-auto-rows: minmax(20px, auto);
   }

   .menucasos{
    display: flex;
    flex-direction: row;
   }