.contenedorlitigios{
  background-color: white;
  opacity: 0.85;
  border-radius: 10px;
  padding: 10px;
  height: 90vh;
  width: 70vw;
  margin-left: 40px;
  display: flex;
  flex-direction: column;
}