.containerLogin{
  background-color: white;
  opacity: 0.9;
  border-radius: 10px;
  width: 700px;
  justify-content: center;
}

.containerLogin-photo{
  display: flex;
  flex-direction: row;
  background-color: white;
  min-height: 1rem;
  height: 99vh;
  /* min-width: 100vw; */
  /* margin:5%; */
}

.containerPhoto .imglogin{
  width:97%;
  height: 100%;
  background-color: blue;
}

.cajalogin{
  height: 25px;
  width: 200px;
  border-radius: 5px;
  margin: 10px;
  /* color: red; */
}

.labellogin {
  height: 25px;
  min-width: 150px;
  font-size: larger;
  color: black;
  text-align: justify;
  padding-left: 40px;
}